/* All */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    justify-content: center;
    background-color: lightgray;
}


/* lock-page section*/
#lock-page, #page1, #page2, #page3, #page4{
    margin: 100px;
    padding: 27px;
    background:  white;
    text-align: center;
    border-radius: 15px;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
}
#page1, #page2, #page3, #page4{
    display: none;
}

.bxs-lock-alt{
    font-size: 28px;
}
input{
    margin-top: 5px;
    padding: 3px;
    border: none;
    border-bottom: 1px solid grey;
}
input:focus{
    outline: none;
    border-bottom: 2px solid black;
}
.bx-show{   
    color: lightgrey;
    padding-left: 10px;
    vertical-align: middle;
    font-size: 25px;
}
.bx-show:hover{
    cursor: pointer;
}


/* button section*/
button{
    background-color: gray;
    border: 2px solid grey;
    color: white;
    cursor: pointer;
    outline: none; 
    border-radius: 15px;
    width: 80px;
    height: 35px;
    margin-top: 20px;
    font-size: 28px;
}
button:hover{
    background-color: white; 
    border: 2px solid grey;
    color: grey;
}


#page3-content, #page4-content{
    padding: 10px 20px 0;
    text-align: left;
    width: 100%;
}
#page3-content div, #page4-content div{
    width: 100%;
    border-top: 1px solid lightgray;
    padding: 5px;
}
label:hover{
    cursor: pointer;
}

/* #spin::before{
  content: '';
  color: #aa3939;
  animation: profile 5s infinite;
}
@keyframes profile {
  0% { content: 'singer'}
  50% { content: 'magician'}
  100% { content: 'storyteller'}
} */
 

/* footer section*/
footer{
    background: black;
    text-align: center;
    padding: 15px;
}
footer a, footer p{
    color: white;
    text-decoration: none;
}
.footer-links{
    padding: 10px;
}
.footer-links a{
    padding: 15px;
    font-size: 30px;
}
footer a:hover{
    color: #EBC9C8; 
    text-decoration: underline;
}




/* Scrollbar Effects */
/* width */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: darkgrey;
} 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey;
}
